.try {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.left h1 {
  font-size: 40px;
  width: 100%;
  font-weight: bolder;
}

.left{
    width: 40%;
}

.right{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and ( max-width: 600px ){
  .try{
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
}