.payments {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.payments * {
  padding: 2rem;
}

.payments * h1 {
  font-size: 2rem;
}

.payments * * {
  margin: 0;
  padding: 0;
}

.payments p {
  margin-top: 1rem;
}

.pos {
  margin-top: 3rem;
  height: 25rem;
}

.pos img{
  width: 100%;
}

.left {
  width: 52%;
}

.right {
  width: 50%;
}

.top-right {
  margin-top: 7.5rem;
}

.right ul {
  margin: 0;
  margin-top: 2rem;
  list-style-type: none;
  margin-bottom: 2rem;
}

.right ul li {
  margin: 8px;
  font-size: 18px;
  display: flex;
}

.check {
  color: green;
  width: 3rem;
}


@media screen and ( max-width: 600px ) {
  .payments{
    flex-direction: column;
  }

  .payments *{
    width: 100%;
    padding: 0;
  }

  .check{
    width: 1rem;
  }

  .pos{
    height: 20.5rem;
  }
}